.history/
.vscode/
.idea/
/dist/
/datadog-sbom-generator
/coverage.out
/coverage.html
*.tar
*.pprof
.DS_Store
*~
# The contents of this path continuously get regenerated and excluding (in IntelliJ) doesn't help
pkg/lockfile/fixtures/build-gradle/one-package-groovy-extended
